<div id="login-box">
<span class="error" ng-show="error.message!=undefined">{{error.message}}</span>
<span class="msg" ng-show="message!=undefined">{{message}}</span>

<form>

 <table>
 
 		<tr>
 		    <td>Enter Email</td>
 		    <td><input type="email" ng-model="user.email"></td>
 		
 		<tr>
 		</tr>
 			<td>Enter Password</td>
 			<td><input type="password" ng-model="user.password"></td>
  		</tr>
  		<tr>
  		 <td><input type="submit" ng-click="login(user)"></td>
   		</tr> 
 
 </table>




</form>
</div>