{{errorMessage.message}}
<form>
<div class="form-group">
Enter email address 
<input type="email" ng-model="user.email" class="form-control">
</div>

<div class="form-group">
Enter password 
<input type="password" ng-model="user.password" class="form-control">
</div>

<div class="form-group">
Enter Firstname 
<input type="text" ng-model="user.firstname" class="form-control">
</div>

<div class="form-group">
Enter Lastname
<input type="text" ng-model="user.lastname" class="form-control">
</div>

<div class="form-group">
Enter Phone Number 
<input type="text" ng-model="user.phonenumber" class="form-control">
</div>

<div class="form-group">
Select ROLE
<select ng-model="user.role">
<option value="STUDENT">Student
<option value="EMPLOYEE">Employee
<option value="ALUMNI">Alumni
</select>
</div>
<input type="submit" ng-click="registerUser(user)" value="Register">

</form>